.pnd-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pnd-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    image-rendering: pixelated;
}