#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
