@import "../../../sass/base/animations";

.pnd-header {
    width: 100%;
    height: 10vh;
    margin: 0;
    display: flex;
    background-size: cover;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.pnd-title-container {
    width: 65%;
    display: block;
    align-items: center;
}

.pnd-title{
    width: fit-content;
    height: fit-content;
    font-size: 50;
    font-weight: 400;
    letter-spacing: 25px;
}

.pnd-main-title {
    animation: moveInLeft 1s ease-out;
        backface-visibility: hidden;
}

.pnd-sub-title {
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out;
    backface-visibility: hidden;
}

.pnd-header-btns {
    width: 20%;
}

.pnd-logo {
    width: 15%;
}

// Responsive design for tablets
@media (max-width: 768px) {
    .pnd-header {
        height: 15vh;
    }
    .pnd-sub-title {
        font-size: 7px;
    }
    .pnd-logo {
        width: 15%;
    }
}

// Responsive design for mobile devices
@media (max-width: 480px) {
    .pnd-header {
        height: 10vh;
        font-size: 7px;

    }
    .pnd-sub-title {
        font-size: 7px;
    }
    .pnd-logo {
        width: 15%;
    }
}