@import "../../../styles/animations";

.pnd-header {
    width: 100%;
    height: fit-content;
    margin: 0;
    display: flex;
    position: fixed;
    background-size: cover;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.pnd-title-container {
    width: 50%;
    display: block;
    align-items: center;
}

.pnd-title{
    width: fit-content;
    height: fit-content;
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 5s;
}

.pnd-header-btns {
    width: 25%;
}

.pnd-sub-title {
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 15px;
}

.pnd-logo {
    width: 25%;
}

